In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("Data/GlobalTemperatures.csv")

In [9]:
df

,index,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3187,3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [4]:
df.describe()

,index,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
count,3192.000000,3180.000000,3180.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000,1992.000000
mean,1595.500000,8.374731,0.938468,14.350601,0.479782,2.743595,0.431849,15.212566,0.128532
std,921.595356,4.381310,1.096440,4.309579,0.583203,4.155835,0.445838,1.274093,0.073587
min,0.000000,-2.080000,0.034000,5.900000,0.044000,-5.407000,0.045000,12.475000,0.042000
25%,797.750000,4.312000,0.186750,10.212000,0.142000,-1.334500,0.155000,14.047000,0.063000
50%,1595.500000,8.610500,0.392000,14.760000,0.252000,2.949500,0.279000,15.251000,0.122000
75%,2393.250000,12.548250,1.419250,18.451500,0.539000,6.778750,0.458250,16.396250,0.151000
max,3191.000000,19.021000,7.880000,21.320000,4.373000,9.715000,3.498000,17.611000,0.457000

In [20]:
df

,index,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3187,3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062